{% extends 'shops/base.html' %}

{% block content %}
	<h3>Магазины в Грозном</h3>
	<br>
	<div class="row">
	<div class="col">
	<div class="card-deck">
		{% for shop in shops %}
		<div class="card">
			<div class="card-body">
				<div style="text-align: left;">
					<h5 class="card-title"><a href="#">{{ shop.name }}</a></h5>
					<p>Категория: {{ shop.category }}</p>
					<p>Адрес: {{ shop.address }}</p>
					<p>Время работы: {{ shop.work_time }}</p>
					<p>Продавец: {{ shop.seller }}</p>
					<p>Телефон: {{ shop.phone }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>
	</div>
	</div>
{% endblock %}